@import url(barbers.css);

body {
    position: relative;
    color: rgb(255, 255, 255);
    padding-top: 94vh;
    height: 100%;
    background: url("../images/commonback.jpg");
    font-family: 'mainfont';
    background-attachment: fixed;
}

#timify {
    padding-top: 5vh;
}

#toggler {
    margin-left: -15px;
}

.closex {
    font-size: 2.4rem;
    color: black;
}

.closex:hover {
    color: #014c8c;
}

#terminbtn {
    padding-bottom: 0px;
    padding-top: 12px;
}

#termin {
    text-align: right;
    padding-top: 0px;
    padding-bottom: 0px;
}

html, body {
    height: 100%;
    font-size: 12pt;
}

.languagepic {
    max-width: 0.9em;
    max-height: 0.9em;
}

@font-face {
    font-family: 'mainfont';
    src: url('../typography/Corki/TD-Corki-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

#navbar {
    background: url("../images/pattern.png");
    color: rgb(255, 255, 255);
    opacity: 0.95;
    padding-bottom: 0;
}

a {
    color: #ffffff;
}

#headeraddress {
    text-align: right;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #014c8c;
}

.nav-link {
    cursor: pointer;
    font-size: 2.3vh;
}

.nav-link.active {
    padding-right: .425em;
    padding-left: .425em;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: rgb(255, 255, 255);
}

#centerlogo {
    z-index: 1031;
    position: fixed;
    width: 10%;
    height: auto;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -0%);
    -moz-transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
    -o-transform: translate(-50%, -0%);
    transform: translate(-50%, -0%);
    min-height: 80px;
    min-width: 80px;
}

#navlogo {
    text-align: center;
}

h1:before {
    display: block;
    content: " ";
    margin-top: -285px;
    height: 285px;
    visibility: hidden;
}

.bordernav {
    z-index: 1030;
    background-image: url(../images/lin-top.png);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-top: none;
    color: rgb(255, 255, 255);
    min-height: 7px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover, .navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:hover {
    color: rgb(255, 255, 255);
}

.centerimage {
    min-width: 320px;
    position: fixed;
    width: 60%;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.about {
    background-image: url(../images/backcont.jpg);
    text-align: center;
    -webkit-box-shadow: 10px 10px 50px 9px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 10px 10px 50px 9px rgba(0, 0, 0, 0.81);
    box-shadow: 10px 10px 50px 9px rgba(0, 0, 0, 0.81);
    opacity: 0.9;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding-top: 1.25em;
}

.impressum {
    background-image: url(../images/backcont.jpg);
    text-align: center;
    -webkit-box-shadow: 10px 10px 50px 9px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 10px 10px 50px 9px rgba(0, 0, 0, 0.81);
    box-shadow: 10px 10px 50px 9px rgba(0, 0, 0, 0.81);
    opacity: 0.9;
    color: rgb(0, 0, 0);

}

.filler {
    min-height: 0px;
}

#impressum:hover {
    cursor: pointer;
}

h1 {
    font-size: 2.5em;
}

.scissors {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 25%;
    height: auto;
    -webkit-transform: translate(-50%, -0%);
    -moz-transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
    -o-transform: translate(-50%, -0%);
    transform: translate(-50%, -0%);
    opacity: 0.85;
    z-index: 1;
}

#carousel-barbers {
    padding-left: 5em;
    padding-right: 5em;
}

.dist {
    margin-bottom: 3em;
}

.pics {
    margin-bottom: -30px;
    z-index: 100;
}

.img-left {
    z-index: 99;
    width: 49%;
    height: auto;
    -ms-transform: rotate(-7deg);
    /* IE 9 */
    -webkit-transform: rotate(-7deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.img-right {
    z-index: 99;
    width: 49%;
    height: auto;
    -ms-transform: rotate(7deg);
    /* IE 9 */
    -webkit-transform: rotate(7deg);
    /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.carousel-control.right {
    background-image: url(../images/right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em 3em;
}

.carousel-control.left {
    background-image: url(../images/left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em 3em;
}

.ctext {
    text-align: left;
    font-size: 1.5em;
}

.cpic {
    opacity: 1;
}

.barbers {
    background-image: url(../images/backcont.jpg);
    -webkit-box-shadow: 10px 10px 50px 9px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 10px 10px 50px 9px rgba(0, 0, 0, 0.81);
    box-shadow: 10px 10px 50px 9px rgba(0, 0, 0, 0.81);
    opacity: 0.95;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding-top: 1.5em;

}

.footer {
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: url(../images/pattern.png);
    color: rgb(255, 255, 255);
    opacity: 0.95;
    z-index: 101;
}

#social {
    font-size: 1.5em;
    margin-bottom: -1rem;
}

.card {
    background-image: url(../images/backcont.jpg);
    text-align: center;
    -webkit-box-shadow: 10px 10px 50px 9px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 10px 10px 50px 9px rgba(0, 0, 0, 0.81);
    box-shadow: 10px 10px 50px 9px rgba(0, 0, 0, 0.81);
    opacity: 0.9;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: none;
}

.card-header {
    background: url(../images/pattern.png);
    color: rgb(255, 255, 255);
    border: none;
}

.card-header:first-child {
    border-radius: 10px 10px 0px 0px;
}

.card-text {
    text-align: left;
    font-size: 1.3em;
}

.btn {
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    background: url(../images/pattern.png);
}

.btn:hover {
    border: none;
}

.btn-primary {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.btn-primary:hover {
    /*background-color: rgb(34, 181, 53);
    border-color: rgb(34, 181, 53);*/
    opacity: 0.85;
    color: rgb(34, 181, 53);
}

.card-footer {
    border: none;
    background: url(../images/pattern.png);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card-footer:last-child {
    border-radius: 0 0 10px 10px;
    padding: 0 0 0 0;
}

.card-img-top {
    max-height: 25vh;
}

.card-deck .card {
    padding-bottom: 50px;
}

.card-columns {

@include media-breakpoint-only(lg) {
    column-count: 3;
}
@include media-breakpoint-only(xl) {
    column-count: 3;
}
}
.lefttext {
    text-align: left;
    float: left;
    display: block;
    font-size: 1.5em;
}

.righttext {
    display: block;
    float: right;
    text-align: right;
    font-weight: bold;
    font-size: 1.5em;
}

.shop {
    padding-bottom: 1.5em;
}

#ueberuns {
    font-size: 1.5em;
}
